img {
  width: 100%;
}

.list-group-item {
  margin-bottom: 25px;
}

popup {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: rgba(0,0,0,0.7);
  z-index: 9999;
  padding: 30px 200px;
}

.addPostForm {
  padding: 30px;
  background: #fff;
}

.ng-invalid.ng-dirty {
  border-color: red;
}

.ng-valid.ng-dirty {
  border-color: green;
}

.btn-danger {
	margin-right: 10px;
}